.wrapper {
    --search-border-radius: 92px;
    --search-heigh: 46px;
    --search-top-spacer: 6px;
    --search-btn-width: 52px;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    display: flex;
    padding: 0px var(--default-layout-horizontal-spacer);
    align-items: center;
    justify-content: space-between;
    width: var(--default-layout-width);
}

// .logo {
// }

// Action
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    padding: 4px 8px;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 20px;
    background-color: transparent;
}

.action-btn {
    display: flex;
    align-items: center;
    color: #161823;
    font-size: 2.2rem;
    height: 4.8rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 12px;
}
